*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body {
    font-family: "Open Sans",sans-serif;
    background-color: #ffffff;
    font-size: 14px;
    line-height: 1.8;
    color: #929292;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-wrap: break-word;
    word-wrap: break-word;
}


:root {
    --dark-color: #333333;
    --text-color: #777777;
    --danger-color: #fb5d5c;
    --normal-color: #ffffff;
    --border-color: #f1f1f1;
}


/*===========
    Header
===========*/
/*Alert Nav*/

.topnav-alert {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    height: 40px;
    border-bottom: 1px solid var(--border-color);
}

.topnav-alert .topnav-alert-content {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topnav-alert .topnav-alert-content .top-right,
.topnav-alert .topnav-alert-content .top-left {
    height: 100%;
    line-height: 40px;
}

.topnav-alert .topnav-alert-content .top-right .top-right-link {
    display: flex;
    height: 100%;
}

.topnav-alert .topnav-alert-content .top-right .top-right-link li {
    padding: 0 14px;
    list-style: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topnav-alert .topnav-alert-content .top-right .top-right-link li a {
    height: 100%;
    white-space: nowrap;
    color: var(--text-color);
    font-size: inherit;
    transition: all .4s ease;
}

.topnav-alert .topnav-alert-content .top-right .top-right-link li a:hover {
    color: var(--danger-color);
}

.topnav-alert .topnav-alert-content .top-right .sub-menu {
    border-top: 3px solid var(--danger-color);
    position: absolute;
    top: 100%;
    background: var(--normal-color);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2);
    padding: 0 8px;
    left: 0;
    line-height: 35px;
    animation: growDown 300ms ease-in-out forwards;
    transform-origin: top center;
    display: none;
}

.topnav-alert .topnav-alert-content .top-right .top-right-link li:hover .sub-menu {
    display: block;
}

.topnav-alert .topnav-alert-content .top-right .sub-menu:after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 80%;
    margin-left: -5px;
    border-width: 7px;
    border-style: solid;
    border-color: transparent transparent var(--danger-color); transparent;
    z-index: 2;

}

.topnav-alert .topnav-alert-content .top-right .sub-menu li a {
    font-size: 13px;
}

.topnav-alert .topnav-alert-content .top-right .top-right-link li .modal-form {
    position: fixed;
    z-index: 1;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, .4);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: auto;
    padding-top: 100px;
    display: none;
}

.topnav-alert .topnav-alert-content .top-right .top-right-link li .modal-form .modal-form-content {
    position: relative;
    background-color: var(--normal-color);
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.topnav-alert .topnav-alert-content .top-right .top-right-link li .modal-form .close {
    color: var(--dark-color);
    float: right;
    margin-right: 5px;
    font-size: 28px;
    transition: all .4s ease;
}

.topnav-alert .topnav-alert-content .top-right .top-right-link li .modal-form .close:hover {
    color: var(--danger-color);
    cursor: pointer;
}


/*topnav-focus*/
.topnav-focus {
    width: 100%;
    height: 100%;
    height: 90px;
    z-index: 99;
}

.topnav-focus .topnav-focus-content {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
}

.topnav-focus .topnav-focus-content .topnav-search {
    width: 50%;
    height: 45px;
    border: 1px solid var(--border-color);
}

.topnav-focus .topnav-focus-content .topnav-search .input-box {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topnav-focus .topnav-focus-content .topnav-search .input-box input[type=search] {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 0 20px;
    font-size: 14px;
    transition: all .5s ease;
}

.topnav-focus .topnav-focus-content .topnav-search .input-box input[type=search]:focus {
    border: 1px solid var(--dark-color);
}

.topnav-focus .topnav-focus-content .topnav-search .input-box input[type=submit]:hover {
    background: var(--dark-color);
    color: var(--normal-color);
    cursor: pointer;
}

.topnav-focus .topnav-focus-content .wishlist-link {
    display: flex;
}

.topnav-focus .topnav-focus-content .wishlist-link li {
    padding: 0 10px;
    list-style: none;
}

.topnav-focus .topnav-focus-content .wishlist-link li .icon-round {
    text-decoration: none;
    padding: 0 5px;
    position: relative;
    display: inline-block;
}

.topnav-focus .topnav-focus-content .wishlist-link li .icon-round i {
    color: var(--text-color);
    font-size: 20px;
}

.topnav-focus .topnav-focus-content .wishlist-link li:last-child {
    display: none;
}

.topnav-focus .topnav-focus-content .wishlist-link li .icon-round .badge {
  position: absolute;
  top: -18px;
  right: -8px;
  padding: 0px 8px;
  background-color: var(--danger-color);
  border-radius: 50%;
  color: white;
}

.topnav-focus .mobile-search {
    display: none;
}



/*nav*/
nav {
    height: 100%;
    height: 70px;
    left: 0;
    top: 0;
    width: 100%;
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, .2);
    z-index: 99;
}

nav .topnav {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .topnav ul {
    display: flex;
}

nav .topnav .nav-links {
    height: 100%;
    line-height: 70px;
}

nav .topnav .nav-links .links li {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 14px;
    list-style: none;
}

nav .topnav .nav-links .links li a {
    font-size: 1rem;
    font-weight: 600;
    color: var(--dark-color);
    white-space: nowrap;
    height: 100%;
    transition: all .4s ease;
}

nav .topnav .nav-links .links li a:hover,
nav .topnav .nav-links .links li a.active {
    color: var(--danger-color);
}

nav .topnav .contact-info .contact-link {
    display: flex;
}

nav .topnav .contact-info .contact-link li {
    list-style: none;
    padding: 0 5px;
}
nav .topnav .contact-info .contact-link i {
    color: var(--danger-color);
    font-size: 2rem;
    margin-top: 10px;
}

nav .topnav .contact-info .contact-link h3 {
    color: var(--dark-color);
}

nav .topnav .nav-links .links li .sub-menu {
    border-top: 3px solid var(--danger-color);
    position: absolute;
    top: 100%;
    background: var(--normal-color);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2);
    line-height: 45px;
    left: 0;
    width: 200px;
    z-index: 2;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    padding-left: 20px;
    animation: growDown 300ms ease-in-out forwards;
    transform-origin: top center;
    display: none;
}

nav .topnav .nav-links .links li:hover .sub-menu {
    display: block;
}

nav .topnav .nav-links .links li .sub-menu:after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 20%;
    margin-left: -5px;
    border-width: 7px;
    border-style: solid;
    border-color: transparent transparent var(--danger-color); transparent;
    z-index: 2;
}

nav .topnav .nav-links .links li .sub-menu li a {
    font-size: 14px;
    color: var(--text-color);
    transition: all .4s ease;
}

nav .topnav .nav-links .links li .sub-menu li a:hover {
    color: var(--danger-color);
}

nav .topnav .nav-links .links li .arrow {
    height: 100%;
    line-height: 70px;
    /*width: 15px;*/
    text-align: center;
    margin-left: 10px;
    font-weight: bold;
    color: var(--dark-color);
    font-size: 1rem;
    transition: all .4s ease;
}

nav .topnav .nav-links .links li:hover .arrow {
    transform: rotate(-180deg);
    color: var(--danger-color);
}


@media only screen and (max-width: 900px) {
    nav .topnav .nav-links .links li {
        padding: 0 10px;
    }

    nav .topnav .nav-links .links li a {
        font-size: 14px;
    }

    nav .topnav .contact-info .contact-link i {
        font-size: 25px;
        margin-top: 15px;
    }
    nav .topnav .contact-info .contact-link h3 {
        font-size: 14px;
    }
}



@media only screen and (max-width: 800px) {
    nav .topnav .nav-links .links li {
        padding: 0 7px;
    }

    nav .topnav .nav-links .links li a {
        font-size: 15px;
    }

    nav .topnav .contact-info .contact-link i {
        font-size: 14px;
        margin-top: 20px;
    }
    nav .topnav .contact-info .contact-link h3 {
        font-size: 14px;
    }
}

@media only screen and (max-width: 768px) {
    .topnav-alert .topnav-alert-content .top-left {
        display: none;
    }
    .topnav-alert .topnav-alert-content {
        justify-content: center;
    }

    .topnav-focus {
        height: 60px;
    }

    .topnav-focus .topnav-search {
        display: none;
    }

     .topnav-focus .mobile-search {
        display: block;
        background: var(--dark-color);
        height: 60px;
        width: 100%;
        padding: 0 5px;
    }

    .topnav-focus .mobile-search .input-box {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .topnav-focus .mobile-search .input-box  input[type=search] {
        height: 35px;
        width: 100%;
        border: none;
        outline: none;
        padding: 0 10px;
    }

    .topnav-focus .mobile-search .input-box .btn {
        height: 35px;
        width: 20%;
        border: none;
        outline: none;
        transition: all .3s ease;
        font-size: 14px;
    }

    .topnav-focus .mobile-search .input-box .btn:hover {
        background: #666;
        cursor: pointer;
    }

    .topnav-focus .logo img {
        height: 25px;
    }


    .topnav-focus .topnav-focus-content .wishlist-link li {
        padding: 0 5px;
    }

    .topnav-focus .topnav-focus-content .wishlist-link li .icon-round {
        padding: 0 4px;
    }

    .topnav-focus .topnav-focus-content .wishlist-link li .icon-round i {
        font-size: 18px;
    }

    .topnav-focus .topnav-focus-content .wishlist-link li .icon-round .badge {
      top: -10px;
      right: -5px;
      font-size: 11px;
      padding: 0px 5px;
    }

    .topnav-focus .topnav-focus-content .wishlist-link li:last-child {
        display: block;
    }


    nav {
        display: none;
    }

}