a {
	text-decoration: none;
}

.btn {
    font-size: 16px;
    font-weight: 500;
    background-color: #fb5d5c;
    letter-spacing: normal;
    text-transform: capitalize;
    display: inline-block;
    height: 100%;
    width: 200px;
    border: none;
    outline: none;
    color: var(--normal-color);
    transition: all .3s ease;
}



/*Section*/
/*h2*/
.section-heading {
    color: var(--dark-color);
    font-family: "Poppins",Sans-serif;
    font-size: 36px;
    font-weight: 500;
}

.section-sub-heading  {
    color: var(--text-color);
    font-family: "Poppins",Sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: none;
    line-height: 24px;
}

.heading {
    text-align: center;
    margin-bottom: 3rem;
}

.section-padding {
    padding: 60px 0;
}


/*a=> h2*/
.item-title {
    font-weight: 500;
    text-transform: capitalize;
    color: var(--dark-color);
    margin: 0 0 0 0;
}